@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'TBCContractica';
}

#footer_div {
    background-image: linear-gradient(150deg, #FFDF99 , #6EE7B7 30%);
}

#footer_image_container {
    background-image: linear-gradient(90deg, #6EE7B7, #FFDF99 70% 100% );
}